%h3 Info
= "Ruby Version: #{RUBY_VERSION}"
%br
= "Rails Version: #{link_to Rails.version, 'https://github.com/rails/rails/tree/v'+Rails.version}".html_safe
%br
= "Rails.env: #{Rails.env}"
%br
= "Platform: #{RUBY_PLATFORM}"
%h4 Environment
-ENV.keys.each do |key |
  = "ENV[#{key}] => #{ENV[key]}"
  %br
